


<h2>Edit client:</h2>

<form action="/stylists/$client.getStylistId()/clients/$client.getId()" method="post">
<label for="description">Client Name</label>
<input id="description" name="description" type="text">
<button type="submit" class="btn btn-info">Update client</button>
</form>

