<!DOCTYPE html>
<html>
<head>
    <title>Hair Salon</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
   <link rel='stylesheet' href='/mdb.min.css'>
</head>
<body>

<div class="container-fluid">
    <ul class="nav aqua-gradient py-4 mb-4 font-weight-bold z-depth-1">

        <li class="nav-item">
            <a class="nav-link active white-text" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-text" href="/stylists">Stylist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link white-text disabled" href="#">About</a>
        </li>
    </ul>
    <div class="main-part text-center">
        <div class="row h100">
            <div class="col-sm-12 mx-auto">
                #parse( $template )
            </div>
        </div>
    </div>







<footer id="footer">
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="column dt-sc-one-fourth first">
                <aside class="widget widget_text">
                    <h3 class="widgettitle">Contact Us</h3>
                    <div class="textwidget">
                        <div class="dt-sc-contact-info">
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <p><a href="mailto:info@hair.co.ke">info@hair.co.ke</a></p>
                        </div>
                        <div class="dt-sc-contact-info">
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <p>(254) 72657112</p>
                        </div>
                        <div class="dt-sc-contact-info address">
                            <p>Bidii Plaza, <br> Nairobi, Kenya.</p>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="column dt-sc-one-fourth">
                <aside class="widget widget_text">
                    <h3 class="widgettitle">Our Best Service</h3>
                    <div class="textwidget">
                        <ul>
                            <li><a href="/stylists">Hair Cutting</a></li>
                            <li><a href="/stylists">Hair Styling</a></li>
                            <li><a href="#">Detan &amp; Bleach</a></li>
                            <li><a href="#">Facials</a></li>
                            <li><a href="#">Hair Colouring</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column dt-sc-one-fourth">
                <aside class="widget widget_text">
                    <h3 class="widgettitle">Products We Use</h3>
                    <div class="textwidget">
                        <ul>
                            <li><a href="#">Shampoo</a></li>
                            <li><a href="#">Conditioner</a></li>
                            <li><a href="#">Treatment</a></li>
                            <li><a href="#">Styling Products</a></li>
                            <li><a href="#">Brushes &amp; Combs</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column dt-sc-one-fourth">
                <aside class="widget widget_text">
                    <h3 class="widgettitle">Additional Info</h3>
                    <div class="textwidget">
                        <ul>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Special Vouchers</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Specialist in Shop</a></li>
                            <li><a href="#">Special Services</a></li>
                        </ul>
                        <a href="#" class="app-link alignleft"><img src="images/appstore-google.png" alt="" title=""></a>
                        <a href="#" class="app-link alignright"><img src="images/appstore.png" alt="" title=""></a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hr-invisible"></div>
        <ul class="footer-links">
            <li>Top Category:</li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Specialists</a></li>
            <li><a href="#">Offers</a></li>
        </ul>
        <div class="hr-invisible-very-small"></div>
        <div class="hr-invisible-very-very-small"></div>
        <div class="copyright-content">
            <p>
                © 2019 HAIR SALON. All Rights Reserved by
                            </p>
        </div>
        <div class="hr-invisible-small"></div>
    </div>
</footer>
</div>
</body>
</html>