<!DOCTYPE html>
<html>
<head>
    <title>Hair Salon</title>
   <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
    <link rel='stylesheet' href='/styles.css'>
   <!-- <link rel='stylesheet' href='/mdb.min.css'> -->
</head>
<body>
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>Hair Salon</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" <a href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <
                <li class="nav-item">
                    <a class="nav-link" href="#">Stylist/a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clients</a>
                </li>
            </ul>
<!--            <ul class="navbar-nav nav-flex-icons">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link"><i class="fab fa-facebook-f"></i></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link"><i class="fab fa-twitter"></i></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link"><i class="fab fa-instagram"></i></a>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </nav>

</header>
<div class="container">


    #parse( $template )
</div>


</body>
</html>